

#email, #password,#username ,#phone_no, #gender, #dob,#first_name,#last_name,#quiz_name,
#quiz_type, #no_of_questions
{
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

#add{
    border:1px solid #123c69;
}

#add:hover{
    background-color: #123c69;
    color:white;
    border:1px solid white;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#add_quiz_table td{
    padding:2% 1% 1% 1%;
    vertical-align: middle !important;
    width: 175px;
    line-height: 1.5;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-top:5px;
}

.btn {
  border: 1px solid #ac3b61;
  color: #ac3b61;
  background-color:transparent;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

/* .upload_btn_wrapper:hover{
    background-color: #ac3b61;
    border:2px solid white;
    color:white; 
}

.upload-btn-wrapper input[type=file] {
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
} */

/* Style the submit button with a specific background color etc */
#login {
    background-color: #123c69;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submit{
    display: block !important;
    color:white;
    border-color:#ac3b61;
    box-shadow: #45a049; 
}

#register{
    background-color: #123c69;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

label.align-label{
    vertical-align: middle;
    line-height: 1.5;
    margin-top:15px;
    margin-bottom:16px;
}

/* When moving the mouse over the submit button, add a darker green color */
#login:hover {
    background-color: #45a049;
}

