/* custom css for all pages */

    body{
    background-color: #edc7b7;
    margin:0 !important;
    }

    *{font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;}

    .profile_image_div{
        left:0;
        bottom:0;
        position:absolute;
        width:100%;
        background-color:black;
        opacity:0.7;
    }

    .profile_name{
        margin-top:5px;
        margin-bottom:5px;
        text-align:center;
        color:whitesmoke;
    }

    #start_quiz{
    background-color: transparent;
    border:1px solid #123;  
    }

    #start_quiz:hover{
    background-color: #123c69;
    border:1px solid #123;
    color:white;
    }

    .top-margin-page{
        margin-top: 1%;
    }
    #company_logo{
        width:4.11em;
        height:3em;
    }

    #menubar{
        text-align: center;
    }
    
    #welcome{
        background-image: url("../images/bg10.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background: rgba(0,0,0,0,0.6);
        color:white;
        height:400px;
        margin-bottom: 2%;
        /* opacity: 0.5; */
        position: relative;
    }

    #welcome_text{
        position: absolute;
        top:10%;  
        left:50%; 
        color:white; 
    }
    #welcome_text > h1 {
        margin-left:2%;
        font-size: 3em;
        margin-top:17%;
    }
    #welcome_text > h3 {
        margin-left:2%;
        font-size:2em;
    }

    #login_btn{        
        border: 1px solid #AC3B61;
        margin-right:25px; 
        margin-top:10px;
        color:white;
        background-color: #AC3B61;
        position: relative;
        float: right;
    }

    #send_button{
        border: 1px solid #edc7b7;  
        color: #123c69;      
    }

    #login_btn:hover{
        background-color: transparent;
        color:#AC3B61;
    }

    .navbar_list{ 
        list-style-type: none;
        text-align: center;
        display: inline-block;
        margin-top:0%;  
        margin-bottom:0%;
    }

    .navbar_items {
        font-size:larger;
        float: left;
    }

     .navbar_items a {
        color: #AC3B61;
        text-align: center;
        text-decoration: none;
        display:inline-block;
        padding:20px 25px;
        margin:0px 8px;
    }

    .navbar_items:hover::after {
        width: 100%;
    }

    .navbar_items::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background: #AC3B61;
        transition: width .3s;
    }
    

    .navbar_brand {
        font-size:larger;
        float: left;
        margin:0px 5px;
    }

    footer{
        background: rgba(46,74,117,1);
        background: -moz-linear-gradient(left, rgba(46,74,117,1) 0%, rgba(46,74,117,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(46,74,117,1)), color-stop(100%, rgba(46,74,117,1)));
        background: -webkit-linear-gradient(left, rgba(46,74,117,1) 0%, rgba(46,74,117,1) 100%);
        background: -o-linear-gradient(left, rgba(46,74,117,1) 0%, rgba(46,74,117,1) 100%);
        background: -ms-linear-gradient(left, rgba(46,74,117,1) 0%, rgba(46,74,117,1) 100%);
        background: linear-gradient(to right, rgba(46,74,117,1) 0%, rgba(46,74,117,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e4a75', endColorstr='#2e4a75', GradientType=1 );
    }

    #footer{
        color:#eee2dc;
        position: relative;
    }

    .white{
        color:white;
    }

    footer label{
        font-size:1em;
    }

    .quiz_image{
        width: 120px;
        height:120px;
    }
/* custom css for all pages */

/* start_quiz.php page */
    .question-ul{
        margin:2% 0%;
        font-size: 110%;
        font-weight: bold;
        color:#AC3B61;
        list-style: none;
        position: relative;
        overflow: auto;
    }

    .choice-li{
        color:#4b729c;
        font-size: 100%;
        font-weight: 200;
        padding:0.5%;
        line-height: 30px;
    }

    .option-input {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        position: relative;
        top: 7px;
        height: 25px;
        width: 25px;
        background:#998e92;
        border: none;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        margin-right: 0.5rem;
        outline: none;
        position: relative;
        z-index: 1000;
    }

    .option-input:hover {
        background: #40e0d0 ;
    }

    .option-input:checked {
        background: #40e0d0;
    }

    .option-input:checked::before {
        height: 20px;
        width: 22px;
        position: absolute;
        content: '✔';
        display: inline-block;
        font-size: 20px;
        text-align: center;
        line-height: 25px;
    }

    .option-input:checked::after {
        background: #40e0d0;
        content: '';
        display: block;
        position: relative;
        z-index: 100;
    }

    .option-input.radio {
        border-radius: 50%;
    }

    .option-input.radio::after {
        border-radius: 50%;
    }

    #submit-quiz{
        color:white;
        background-color: #AC3B61;
        border: 1px solid #AC3B61;
        margin-left:15%;
    }

    #submit-quiz:hover{
        color:#AC3B61;
        border: 1px solid #AC3B61;
        background-color: transparent;
    }

    #start_quiz_div{
        background-color: #AC3B61;
        width:100%;
        opacity:0.9;
        margin-left:0 !important;
        margin-right:0 !important;        
    }

    .start_q_h1{
        opacity: 1;
        color:#edc7b7;
        font-size: 3em;
    }

    #result_analysis_table{
        text-align:center;
        line-height:1.5;
        border-collapse: collapse;
        width:35%;
    }

    #result_analysis_table td{
        border:1px solid #123c69;
        color:#123c69;
        padding:1%;
    }

    #result_analysis_table th{
    border:1px solid #123c69;
    color:#123c69;
    padding:1%;
    }


/* start_quiz.php page */

